### https://raw.github.com/github/gitignore/c68eb91e0a72ca1efba128c33de9caea41281f19/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# .env includes critical informations such as a db password and should not be uploaded.
###### .env template #####
# AC2_DB_USERNAME=root_string
# MYSQL_ROOT_PASSWORD=password_string
# AC2_APP_ADMINUSERNAME=admin_string
# AC2_APP_ADMINPASSWORD_HASHED=password_string
# JWT_SIGNING_KEY=random_string
##########################
# '$(htpasswd -bnBC 10 "" ${AC2_APP_ADMINPASSWORD} | tr -d ':\n' | sed 's/$2y/$2a/')'
.env
